
body{
    padding: 30px;
    margin: 30px;
    border: 20px;
    
}

.logogroup{
    text-align: left;
    width: 268px;
    height: 33px;
    margin: 10px;
}
.sal{
    text-align: right;
}


nav{
    height: 80px;
    width: 100%;
    text-align: left;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color:aqua;
    padding: 0 100px;
    line-height: 80;
}

    

nav ul{
    float: right;
    margin-right: 40px;
}
nav li{
    display: inline;
    margin: 0;
    line-height: 80px;
    color: rgb(111, 83, 235);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent; 
    padding: 7px 10px;
    border-radius: 3px;
    
}
.wrapper{
    padding: 5px;
    max-width: 960px;
    width: 95%;
    margin: 20px auto;
    background-attachment: fixed;
}
.logos{
    width: 50px;
    height: 50px;
    text-align: center;
    display: block;
    margin: 0 auto;
}
.columns{
    display:flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
    width: 1000px;
    height: 300px;
    font-size: 20px;
}

.column{
    flex: 1;
    border: 1px  #666;
    margin: 10px;
    padding: 10px;
    background: #3af4d5;
    transition: 0.3s;
    
}
/*.column:first-child{
    width: 0px;
    margin-left: 0;
    background: rgb(31, 93, 228);
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
}*/
.column:first-child{
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background: #00ccb1   
}

.column{
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background: #00ccb1
}

.column:last-child{
    border-radius: 10px;
    padding: 2em 2em 0;
    overflow: hidden;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background: #00ccb1
}
    

/*.column{
    width: 0px;
    margin-left: 0;
    background: rgb(31, 93, 228);
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 50px;
    font-size: 30px;
    height: 350px;
}
.column:last-child{
    margin-left: 0;
    background: rgb(88, 88, 233);
    text-align: center;
    color: white;
    margin: 10px;
    border-radius: 50px; 
    font-size: 30px;
}*/
#p1{
    
    width: 500px;
    height: max-content;
    font-size: 20px;
    color:#a59f9f;
    display: inline-block;
    margin: 0.8em 0;
    line-height: 1.75;
    font-family:roboto,atiel,sans-serif ;
}
#p2{
    
    width: 500px;
height: min-content;
    font-size: 20px;
    color: #a5a5a5;
    display: inline-block;
    margin: 0.8em 0;
    line-height: 1.75;
    font-family: roboto,ariel,sans-serif;
}
h1{
    text-decoration: dashed;
    color: rgb(36, 202, 224);
    text-align: center;
    padding: 50px;
    display: block;
    margin: 1em 0;
    margin-block-start: 0.83em;
    margin-block-start: 0.83em;
    font-weight: 300;
    font-family: work sans,aral,sans serif;
    letter-spacing: - 3px;
    font-size: 2.125rem;

}
.image{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
}
#lb{
    color: aqua;
    text-align: start;
}
.nav{
    color: #3af4d5;
    font-size: 50px;
   
    

}
/*.bac{
    background-image: url(../css\ layout/dp.webp)   
    
}
.box1{
    width: 100px;
    height: 100px;
    background-color: red;*/

/*.logos{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border: 0;
    overflow-clip-margin: conten box;
    overflow: clip;

}
.weare{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    }
.stats{
    background: #e5faf8;
    background-image: linear-gradient(-45deg,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
    padding: 1.875em 0 .625em;
    overflow: hidden;
    margin: 3.125rem auto 5.5rem;
}
.section__inner{
    zoom: 1;
    max-width: 1015px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative 
}
.grid{
    margin: 0 --10px;
}
.stats__header{
    margin-top: 2em;
}
.col-2{
    width: 50%;
}
[class*=col-] {
    float: left;
    min-height: 1px;
    padding: 10px;
}
.stats__header:before {
    content: "";
    position: absolute;
    right: 67%;
    top: 45%;
    background: url(/img/logo.png) no-repeat;
    width: 456px;
    height: 435px;
    pointer-events: none;
}
.section__inner:before {
    content: "";
    display: table;
}
.grid:before {
    content: "";
    display: table;
    clear: both;
}
.stats__header {
    margin-top: 2em;
}
.h1:first-child {
    margin: 0;
}
.h1 {
    font-size: 2.125rem;
    color: #00b39b;
}
.h1{
    margin: 1em 0;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}
.stats__header p {
    max-width: 415px;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.7142857143;
}*/
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:20px 20px;
    justify-items: center;
    align-items: center;
    justify-content: stretch;

    margin: auto;
}
.box{
    background-color: white;
    text-align: center;
    box-sizing: inherit;
    border-radius: 5px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.05);
    height: 250px;
    padding: 15px;
    font-size: .8125em;
}
.the{
    text-align: left;
    font-size: 30px;
}
.we{
    text-align: left;
    color: #a59f9f;
    font-size: 20px;
}
.box1{
    display: table;
    grid-row: 2/3 ;
    grid-column: 3/4;
    height: 100%;
    width: 100%;
    
    
    
}
.box2{
    display: table;
    grid-row: 2/3 ;
    grid-column: 4/5;
    height: 100%;

}
.box3{
    display: table;
    grid-row: 3/4 ;
    grid-column: 3/4;
    height: 100%;
}
.box4{
    display: table;
    grid-row: 3/4;
    grid-column: 4/5;
    height: 100%;
    width: 100%;


}
.plat{
    background-color: rgb(173, 238, 233);
}
.mo{
    text-align: center;
    color: #a59f9f;
    font-size: 20px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.container1{
    display: grid;
grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,300px);
    grid-row-gap: 30px;
}
.office{
    color: #666;
    font-size: 20px;
    text-align: start;
}
.btn{
    text-align: end;
    border-radius: 100px;
    background-color: #301cad;
    color: white;
    padding: 5px;
    margin: 5px;


}
.see{
     text-align: center;
     padding: 300px;
     margin: 300px;
     background-color: #0c4b75;
     border-radius: 4px;
     color: white;
     
}

.container22 {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,auto);
    
}

.logo_tutotempo img{
    height: 16px;
}

.logo_gipo img {
    height: 34px;
}

.logo_znamylekar {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 1;
}

.container22{
    width: auto;
    display: flex;
    flex-wrap: rap;
    flex-direction: row;
    justify-content: space-around;
    width: 100px;
    align-items: center; 


    
}

.log1{
    font-size: 30px;
    width: 30px;
    height: 30px;
    color: #666;
    
    
    
       
}
.we-are{
    text-align: start;
    font-size: 30px;
    height: 200px;
}
.global{
    padding:300px ;
    
    max-width: 1015px;
    margin: auto;
    height: 300px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(3,15px);
    justify-content: space-around;
    max-width: 1015px;
      gap: 2rem; 
     justify-items: center;
     
}
.card-body{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.button{
    background-color: #0c4b75;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    display:inline-block;
    font-size: 20px;
    margin: 10px;
    border-radius:2rem ;
}